@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}


a{
    text-decoration: none;
    color:black;

}

ul{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}